#
.DS_Store 	
.deploy_git/ 	
SVM_principle.md 	
_config.yml 	
node_modules/ 	
public/ 	
source/.DS_Store 	
source/_drafts/ 	
substitute_bucket.sh 	
themes/.DS_Store 	
themes/next/_config.yml
博客写作的常用快捷方式.md
